# Step-1: BUSINESS PROBLEM UNDERSTANDING

In [4]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

# step-2: DATA UNDERSTANDING

**LOAD DATA & UNDERSTAND EVERY VARIABLE**

In [5]:
df = pd.read_excel("C:\\Users\\saisu\\OneDrive\\Documents\\insurance.xlsx")
df

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

[1338 rows x 7 columns]

**DATASET UNDERSTANDING**

In [6]:
df.shape

(1338, 7)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   expenses  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [8]:
df["sex"].value_counts()

male      676
female    662
Name: sex, dtype: int64

In [9]:
df["children"].value_counts()

0    574
1    324
2    240
3    157
4     25
5     18
Name: children, dtype: int64

In [10]:
df["smoker"].value_counts()

no     1064
yes     274
Name: smoker, dtype: int64

In [11]:
df.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [12]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'expenses'], dtype='object')

**EXPLORATARY DATA ANALYSIS**

In [13]:
continous_features = ["age","bmi","expenses"]
discrete_categorical = ["sex","smoker","region"]
discrete_count = ["children"]

In [14]:
df[continous_features].describe()

               age          bmi      expenses
count  1338.000000  1338.000000   1338.000000
mean     39.207025    30.665471  13270.422414
std      14.049960     6.098382  12110.011240
min      18.000000    16.000000   1121.870000
25%      27.000000    26.300000   4740.287500
50%      39.000000    30.400000   9382.030000
75%      51.000000    34.700000  16639.915000
max      64.000000    53.100000  63770.430000

In [15]:
df[discrete_categorical].describe()

         sex smoker     region
count   1338   1338       1338
unique     2      2          4
top     male     no  southeast
freq     676   1064        364

In [16]:
df[discrete_categorical].describe()

         sex smoker     region
count   1338   1338       1338
unique     2      2          4
top     male     no  southeast
freq     676   1064        364

In [17]:
df[continous_features].corr()

               age       bmi  expenses
age       1.000000  0.109341  0.299008
bmi       0.109341  1.000000  0.198576
expenses  0.299008  0.198576  1.000000

# step_3: DATA PREPROCESSING

**DATA CLEANING**

In [18]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64

In [19]:
df.duplicated().sum()

1

In [20]:
df.drop_duplicates(inplace=True)

In [21]:
df.shape

(1337, 7)

In [22]:
df.drop("region",axis=1,inplace=True)

**ENCODING**

In [23]:
#encoding sex column
df["sex"].replace({"female":0,'male':1}, inplace = True)

#encoding smoker column 
df["smoker"].replace({"no":0,"yes":1},inplace = True)

**creating X&y**

In [24]:
X = df.drop("expenses",axis=1)
y = df['expenses']

In [25]:
X

      age  sex   bmi  children  smoker
0      19    0  27.9         0       1
1      18    1  33.8         1       0
2      28    1  33.0         3       0
3      33    1  22.7         0       0
4      32    1  28.9         0       0
...   ...  ...   ...       ...     ...
1333   50    1  31.0         3       0
1334   18    0  31.9         0       0
1335   18    0  36.9         0       0
1336   21    0  25.8         0       0
1337   61    0  29.1         0       1

[1337 rows x 5 columns]

In [26]:
y

0       16884.92
1        1725.55
2        4449.46
3       21984.47
4        3866.86
          ...
1333    10600.55
1334     2205.98
1335     1629.83
1336     2007.95
1337    29141.36
Name: expenses, Length: 1337, dtype: float64

**TRAIN-TEST-SPLIT**

In [27]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=9)

# step- 4,5 - MODELLING & EVALUATION

**APPLYING HYPERPARAMETER TUNING FOR LASSO REGRESSION**

In [30]:
from sklearn.model_selection import GridSearchCV

#model

from sklearn.linear_model import Lasso
estimator = Lasso()

#parameters & values
param_grid = {"alpha":list(range(1,100))}

#identifying the best value of the parameter within given values for the given data 

model_hp = GridSearchCV(estimator,param_grid,cv=5,scoring="r2")

model_hp.fit(X_train,y_train)

model_hp.best_params_

{'alpha': 60}

**build lasso model using best hyperparameters**

In [34]:
#modelling

from sklearn.linear_model import Lasso
lasso_best = Lasso(alpha=60)
lasso_best.fit(X_train,y_train)

print("Intercept:",lasso_best.intercept_)
print("coefficients:",lasso_best.coef_)

#prediction & evaluation on train data
ypred_train = lasso_best.predict(X_train)

from sklearn.metrics import r2_score
print("Train R2:",r2_score(y_train,ypred_train))

from sklearn.model_selection import cross_val_score
print("CV score:",cross_val_score(lasso_best,X_train,y_train,cv=5).mean())

#prediction & evaluation on test data 

ypred_test = lasso_best.predict(X_test)
print("Test R2:",r2_score(y_test,ypred_test))

Intercept: -12045.192067679147
coefficients: [  264.37213484    -0.           317.0408608    373.19599922
 23621.90440143]
Train R2: 0.7592042059376202
CV score: 0.753731844759959
Test R2: 0.7008928970688789

# FINAL MODEL

In [35]:
X = X.drop("sex",axis=1)
y = df["expenses"]

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=5)

#modelling

from sklearn.linear_model import Lasso
lasso_best = Lasso(alpha=60)
lasso_best.fit(X_train,y_train)

print("Intercept:",lasso_best.intercept_)
print("coefficients:",lasso_best.coef_)


#prediction & evaluation on train data
ypred_train = lasso_best.predict(X_train)
print("Train R2:",r2_score(y_train,ypred_train))
print("CV score:",cross_val_score(lasso_best,X_train,y_train,cv=5).mean())

#prediction & evaluation on test data 

ypred_test = lasso_best.predict(X_test)
print("Test R2:",r2_score(y_test,ypred_test))

Intercept: -11877.91833733555
coefficients: [  255.86357756   320.48028389   471.84453471 23601.2520106 ]
Train R2: 0.7567985495572301
CV score: 0.7511269136550369
Test R2: 0.7204105829905709

# PREDICTION ON NEW DATA

**DATA**

In [37]:
input_data = {"age":35,
              "sex":"male",
              "bmi":31.4,
              "children":5,
              "smoker":"yes",
              "region":"southeast"}

In [38]:
df_test = pd.DataFrame(input_data,index=[0])
df_test

   age   sex   bmi  children smoker     region
0   35  male  31.4         5    yes  southeast

**preprocessing the data**

In [40]:
df_test.drop(['region',"sex"],axis=1,inplace=True)

df_test["smoker"].replace({"no":0,"yes":1},inplace=True)

**PREDICT**

In [41]:
lasso_best.predict(df_test)

array([33100.86247563])

In [44]:
(264.37194096*35)+(317.04095573*31.4)+(373.19607238*5)+(23621.90427308*1)-12045.187436

32650.801142502

 actual value from sirs pdf - 32650.801114660055